{% ckan_extends %}

{% block header_logo %}
    {% if g.site_logo %}
    <a class="logo" href="https://urbandatacentre.ca">
        <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" />
    </a>
    {% else %}
    <h1>
    <a class="logo" href="https://urbandatacentre.ca">
        <img src="{{ h.url_for_static('cudc-logo.png')}}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" />
    </a>
    </h1>

    {% if g.site_description %}
    <h2>{{ g.site_description }}</h2>
    {% endif %}

    {% endif %}
{% endblock %}


{% block header_account_container_content %}

  <div class="d-flex flex-row align-items-xs-center w-100">
    <div class="flex-grow-1">
      {{ super() }}
    </div>
    <div class="header-lang-selector ms-xs-3" aria-label="{{ _('Language selector') }}">
      {% snippet "snippets/language_selector.html" %}
    </div>
  </div>
{% endblock %}
