requests==2.29.0
PyLD==2.0.3
rdflib==6.3.2
graphdb-importer @ git+https://github.com/csse-uoft/graphdb-importer@f1cf9597833e909bd0e71aca9024877e73ac523b
numpy>=1.24.4
pandas>=2.0.3
openai>=1.37.1
Flask-SocketIO>=5.3.6
python-socketio[client]>=5.11.3
pychalk>=1.0.0
rq_scheduler==0.13.0
rq==1.11.0
