{% ckan_extends %}

{% block heading_title %}
  <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
    Catalogue Entry: {{title|truncate(80)}}
  </a>
{% endblock %}

{% block resources_inner %}
  {% set formats = h.dict_list_reduce(package.resources, 'format') %}
  {% if formats|length > 0 %}
  File available for download in the following formats:
  {% endif %}
  {% for resource in formats %}
  <li>
    <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="badge badge-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
  </li>
  {% endfor %}
{% endblock %}