{% import 'macros/form.html' as form %}
{% import 'package/macros/ckan_filter_fields.html' as ckan_filter %}

<link rel="stylesheet" href="{{ h.url_for_static('/base/css/virtual-select.min.css') }}">
<script src="{{ h.url_for_static('/base/javascript/modules/virtual-select.min.js') }}" type="text/javascript"></script>

<script type=text/javascript>
  window.facets = {
    titles: {{facet_titles | tojson}},
    bsaeURL: {{h.url_for('catalogue.search') | tojson}},
    textFields: {{h.maturity_model_text_fields | tojson}},
  };
  window.maturityModel = {{h.config | tojson}};
  
</script>

{% asset 'udc/package-filter'%}
{% asset 'udc/udc-css' %}

<div class="modal fade" id="maturityModelFilter" tabindex="-1" data-bs-backdrop="false" aria-labelledby="maturityModelFilter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width:550px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maturity Model Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-module="advanced-filter">
        <div id="filter-loader" class="text-center">
        </div>
        {# The content of the maturity filter popup #}
        <ul class="nav nav-tabs" id="datasetTab" style="margin-bottom:10px">
          {# <li class="nav-item" role="presentation">
            <button class="nav-link active" id="basic-information-tab" data-bs-toggle="tab" data-bs-target="#basic-information" type="button" role="tab">Basic Information</button>
          </li> #}

          {% for level in h.config %}
            <li class="nav-item" role="presentation">
              <button class="{{'nav-link active' if loop.index == 1 else 'nav-link'}}" id="{{ level["name"] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ level["name"] }}" type="button" role="tab">Maturity Level {{ loop.index }}</button>
            </li>
          {% endfor %}

        </ul>
        <div class="tab-content" style="display:initial;">
          {# <div class="tab-pane active" id="basic-information" role="tabpanel">
            {% snippet 'package/snippets/package_search_basic_information.html', data={}, errors="" %}
          </div> #}
          {% for level in h.config %}
            <div class="tab-pane {{'active' if loop.index == 1 else 'fade' }}" id="{{ level["name"] }}" role="tabpanel">
              <h3 style="padding-top:3px">{{ level["title"] }}</h1>
              {% for field in level["fields"] %}

                {% if field.get("ckanField") == none %}
                  {% set has_extras = ("extras_" + field["name"]) in facet_titles %}
                  {% set title = facet_titles["extras_" + field["name"]] if has_extras else facet_titles[field["name"]] %}
                  
                  {% if title %}
                    {# Our customized field #}
                    
                    <div class="form-group control-full">
                      <label class="form-label" for="{{'filter-' + field["name"]}}">{{ _(title) }}</label>
                      <div class="controls">
                        <div id="filter-{{field["name"]}}" name="{{field["name"]}}" data-module="filter-multiple-select" {{"data-module-filter-toggle" if field['enable_filter_logic_toggle'] else '' }}></div>
                      </div>
                      {{ ckan_filter.field_descriptions(field['short_description'], field['long_description']) }}
                    </div>
                  {% endif %}

                {% else %}
                  {# CKAN predefined field #}
                  {% if field["ckanField"] in facet_titles %}

                    <div class="form-group control-full">
                      <label class="form-label" for="{{'filter-' + field["ckanField"]}}">{{ _(facet_titles[field["ckanField"]]) }}</label>
                      <div class="controls">
                        <div id="filter-{{field["ckanField"]}}" name="{{field["ckanField"]}}" data-module="filter-multiple-select" {{"data-module-filter-toggle" if field['enable_filter_logic_toggle'] else '' }}></div>
                      </div>
                      {{ ckan_filter.field_descriptions(field['short_description'], field['long_description']) }}
                    </div>
                
                  {% else %}
                    {{ ckan_filter[field["ckanField"]](field['short_description'], field['long_description']) }}
                  {% endif %}
                {% endif %}
                
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-module="filter-apply-button">Apply</button>
      </div>
    </div>
  </div>
</div>

