{% import 'macros/form.html' as form %}
{% import 'package/macros/ckan_fields.html' as package_fields with context %}
{% set action = g.form_action or '' %}

{% asset 'udc/package-js'%}

<link rel="stylesheet" href="{{ h.url_for_static('/base/css/virtual-select.min.css') }}">
<script src="{{ h.url_for_static('/base/javascript/modules/virtual-select.min.js') }}" type="text/javascript"></script>

<form id="create-license-form"></form>

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
<form id="dataset-edit" method="post" action="{{ action }}" data-module="basic-form package-form" novalidate>
  {{ h.csrf_input() }}
  {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage, dataset_type=dataset_type) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  <div>
    <ul class="nav nav-tabs" id="datasetTab" style="margin-bottom:10px">
       {% for level in h.config %}
        <li class="nav-item" role="presentation">
          <button class="nav-link{{" active" if loop.index == 1}}" id="{{ level["name"] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ level["name"] }}" type="button" role="tab">Maturity Level {{ loop.index }}</button>
        </li>
      {% endfor %}

    </ul>
    {# CKAN Default fields #}
    <div class="tab-content" style="display:initial;">
      <script type=text/javascript>
        window.packageConfig = {{h.config | tojson}};
        window.packageLicenses = {{h.license_options_details(existing_license_id) | tojson}};
      </script>
      {% for level in h.config %}
        <div class="tab-pane {{"active" if loop.index == 1 else "fade"}}" id="{{ level["name"] }}" role="tabpanel">
          <h2 style="padding-top:12px">{{ level["title"] }}</h2>
          <div class="progress" style="margin-bottom:24px">
            <div class="progress-bar" id="progress-{{loop.index}}" role="progressbar" style="width: 0%;">0%</div>
          </div>
          {% for field in level["fields"] %}
            {# Here we have the field #}
            {% if field.get("ckanField") != none %}
              {# CKAN predefined field #}
              {{ package_fields[field["ckanField"]](data=data, errors=errors, short_description=field["short_description"], long_description=field["long_description"]) }}
            {% else %}
              {# Our customized field #}
              {% set id = "field-" + field["name"] %}
              {% if field.get("type") == "single_select" %}

                {% call form.select(field["name"], label=_(field["label"]), id=id, selected=data[field["name"]], options=field["options"], error=errors[field["name"]], classes=['control-medium']) %}
                  {% if field["short_description"] %}
                    <span class="form-text">
                      {{ field["short_description"] }}
                      {% if field["long_description"] %}
                        <button type="button" style="padding:0; border:none; background:none; color:inherit" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field["long_description"] }}">
                          <i class="fa-regular fa-circle-question"></i>
                        </button>
                      {% endif %}
                    </span>
                  {% endif %}
                {% endcall %}

              {% elif field.get("type") == "multiple_select" %}
                {% call form.multiple_select(field["name"], label=_(field["label"]), id=id, selected=data[field["name"]], options=field["options"], error=errors[field["name"]], classes=['control-medium']) %}
                  {% if field["short_description"] %}
                    <span class="form-text">
                      {{ field["short_description"] }}
                      {% if field["long_description"] %}
                        <button type="button" style="padding:0; border:none; background:none; color:inherit" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field["long_description"] }}">
                          <i class="fa-regular fa-circle-question"></i>
                        </button>
                      {% endif %}
                    </span>
                  {% endif %}
                {% endcall %}
              

              {% else %}

                {% call form.input(field["name"], label=_(field["label"]), type=field.get("type"), id=id, value=data[field["name"]], error=errors[field["name"]], classes=['control-medium']) %}
                  {% if field["short_description"] %}
                    <span class="form-text">
                      {{ field["short_description"] }}
                      {% if field["long_description"] %}
                        <button type="button" style="padding:0; border:none; background:none; color:inherit" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field["long_description"] }}">
                          <i class="fa-regular fa-circle-question"></i>
                        </button>
                      {% endif %}
                    </span>
                  {% endif %}
                {% endcall %}

              {% endif %}
              
            {% endif %}
          
        {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>

  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          The <i>data license</i> you select above only applies to the contents
          of any resource files that you add to this dataset. By submitting
          this form, you agree to release the <i>metadata</i> values that you
          enter into the form under the
          <a href="http://opendatacommons.org/licenses/odbl/1-0/">Open Database License</a>.
          {%- endtrans -%}
        </p>
      {% endblock %}
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '.delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ h.humanize_entity_type('package', dataset_type, 'delete confirmation') or _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      {% block save_button %}
        <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Add Datasets') }}{% endblock %}</button>
      {% endblock %}
      {{ form.required_message() }}
    </div>
  {% endblock %}
</form>
