{% import 'macros/form.html' as form %}

<hr/>
<h1>Data Generation</h1>

{% block package_data_generation_content %}
  {{ form.input('content_generated', label=_('How was data generated?'), id='field-content_generated', value=data.content_generated, error=errors.content_generated, classes=['control-medium']) }}
{% endblock %}

{% block package_data_generation_access %}
  {{ form.input('access_diff_version', label=_('Can different versions of the data be accessed?'), id='field-access_diff_version', value=data.access_diff_version, error=errors.access_diff_version, classes=['control-medium']) }}
  {{ form.input('access_undo', label=_('Can you undo latest changes to a previous version?'), id='field-access_undo', value=data.access_undo, error=errors.access_undo, classes=['control-medium']) }}
{% endblock %}

{% block package_data_generation_ownership %}
  {{ form.input('ownership_owns_previous_data', label=_('Who owns the previous data?'), id='field-ownership_owns_previous_data', value=data.ownership_owns_previous_data, error=errors.ownership_owns_previous_data, classes=['control-medium']) }}
  {{ form.input('ownership_owns_tool', label=_('Who owns the tool that generated the data?'), id='field-ownership_owns_tool', value=data.ownership_owns_tool, error=errors.ownership_owns_tool, classes=['control-medium']) }}
{% endblock %}

{% block package_data_generation_provenance %}
  {{ form.input('provenance_standard', label=_('What standard was used to generate the data?'), id='field-provenance_standard', value=data.provenance_standard, error=errors.provenance_standard, classes=['control-medium']) }}
  {{ form.input('provenance_involved_people', label=_('Who was involved in generating the data?'), id='field-provenance_involved_people', value=data.provenance_involved_people, error=errors.provenance_involved_people, classes=['control-medium']) }}
{% endblock %}

{% block package_data_generation_temporal %}
  {{ form.input('temporal_location', label=_('Where was the data generated?'), id='field-temporal_location', value=data.temporal_location, error=errors.temporal_location, classes=['control-medium']) }}
{% endblock %}

{% block package_data_generation_statistical %}
  {{ form.input('statistical_gained_and_lost', label=_('How much data was gained or lost in the generation processes?'), id='field-statistical_gained_and_lost', value=data.statistical_gained_and_lost, error=errors.statistical_gained_and_lost, classes=['control-medium']) }}
{% endblock %}
