{% ckan_extends %}

{% block package_resources %}


  {% if pkg_dict.get("is_unified") %}
    <h2>Related Catalogue Entries:</h2>
    <div id="unified-show-packages">
      <div id="loading-placeholder" class="d-flex align-items-center" style="height: 70px; padding-left: 20px">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
            </div>
        </div>
      </div>
    </div>
  {% endif %}
  {{ super() }}
  {# {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %} #}
{% endblock %}