{% ckan_extends %}

{% import 'snippets/multilingual_macros.html' as multilingual_macros with context %}

{% block package_notes %}
  
  {% if pkg.summary %}
    {# <h2>Summary</h2> #}
    {# {% if pkg.notes %}
    <span class="badge bg-primary">View Original Description</span>
    <button type="button" style="padding:0; border:none; background:none; color:inherit" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ h.render_markdown(h.get_translated(pkg, 'notes')) }}">
        <i class="fa-regular fa-circle-question"></i>
    </button>
    {% endif %} #}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.get_translated(pkg, 'summary')) }}
      
      <span class="badge bg-primary float-end d-flex align-items-center"
        data-bs-toggle="tooltip" 
        title="This description is AI-genetated using information in the maturity metadata model for this catalogue entry."
        style="background-color:rgb(101 101 101) !important; margin-top: -14px;font-size: 0.8rem; gap: 4px; cursor: help;">
        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18" fill="white"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 9l1.25-2.75L23 5l-2.75-1.25L19 1l-1.25 2.75L15 5l2.75 1.25L19 9zm-7.5.5L9 4 6.5 9.5 1 12l5.5 2.5L9 20l2.5-5.5L17 12l-5.5-2.5zM19 15l-1.25 2.75L15 19l2.75 1.25L19 23l1.25-2.75L23 19l-2.75-1.25L19 15z"/></svg>
        {{_('AI Generated')}}
      </span>
      <br/>
    </div>
  {% else %}
      {% set notes_translated = pkg_dict.get('notes_translated') %}
      {% if notes_translated %}
        {{ multilingual_macros.render_multilingual_value(notes_translated, __lang, render_as_markdown=True) }}
        <div style="margin-top: 10px;"> </div>
      {% elif pkg_dict.get('notes') %}
        {{ h.render_markdown(pkg_dict.get('notes')) }}
      {% endif %}
  {% endif %}
{% endblock %}

{% block package_tags %}
  {% snippet "package/snippets/tags.html", tags=pkg.tags, pkg=pkg %}
{% endblock %}