{% ckan_extends %}

{% block content_action %}
    {% link_for _('All datasets'), named_route=pkg.type ~ '.resources', id=pkg.name, class_='btn btn-default', icon='arrow-left' %}
    {% if res %}
	{% link_for _('View dataset'), named_route=pkg.type ~ '_resource.read', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='eye' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(pkg.type ~ '_resource.edit', _('Edit dataset'), id=pkg.name, resource_id=res.id, icon='pencil-square') }}
  {% block inner_primary_nav %}{% endblock %}
  {{ h.build_nav_icon(pkg.type ~ '_resource.views', _('Views'), id=pkg.name, resource_id=res.id, icon='bars') }}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block form_title %}{{ _('Edit dataset') }}{% endblock %}</h1>
  {% block form %}{% endblock %}
{% endblock %}
