{% ckan_extends %}

{% block header_site_navigation_tabs %}
  {% asset "udc_react/udc-react-css" %}
  {% asset "udc_react/udc-react-js" %}

  {% set org_type = h.default_group_type('organization') %}
  {% set group_type = h.default_group_type('group') %}

  <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0">

    <li><a href="/">Home</a></li>


    <li class="dropdown">
      <a href="/catalogue/new" class="dropdown-toggle" data-toggle="dropdown">{{_('Add to Catalogue')}}</a>
      <ul class="dropdown-menu">
        <li><a href="/catalogue/new">{{_('Add to Catalogue')}}</a></li>
        <li><a href="/catalogue/">{{_('View Catalogue')}}</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/organization/" class="dropdown-toggle" data-toggle="dropdown">{{_('Organizations')}}</a>
      <ul class="dropdown-menu">
        <li class="d-lg-none"><a href="/organization/">{{_('View Organizations')}}</a></li>
        <li><a href="/organization/new">{{_('Create an Organization')}}</a></li>
        <li><a href="/organization/">{{_('View Organizations')}}</a></li>
        <li><a href="/udc/request-organization-access">{{_('Request to Join an Organization')}}</a></li>
      </ul>
    </li>

    {{ h.build_nav_main(
      ('home.about', _('About')) ) }}

    <li><a href="/udc/faq/create-catalogue-entry">FAQ</a></li>
  </ul>


{% endblock %}