.cm-error {
  background-color: rgba(255, 0, 0, 0.3);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Align font size with CKAN */
body .nav {
  font-size: 0.875rem !important;
}


/* Remove margin-top from first child of markdown-content */
#markdown-content>*:first-child{
  margin-top: 0 !important;
}

label:after {
  content: initial !important;
}